/*-- scss:defaults --*/

//fonts
$font-family-sans-serif: "Omnes";

/*-- scss:rules --*/

h1 {
  font-family: Space Mono;
}

h2 {
  font-family: Space Mono;
}

.navbar {
  background-color: #a4e4c5;
}