/*-- scss:defaults --*/

//fonts
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-family-sans-serif: 'Nunito Sans';

/*-- scss:rules --*/

h1 {
  font-family: 'Space Mono';
}

h2 {
  font-family: 'Space Mono';
}

.navbar {
  background-image: linear-gradient(to right, #0cc0df, #ffde59);
}